<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BoVeloManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BoVeloManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BoVeloManager.Properties.Settings>
      <setting name="keeplogged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="magicWord" serializeAs="String">
        <value />
      </setting>
      <setting name="magicWord2" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting2" serializeAs="String">
        <value />
      </setting>
      <setting name="MAX_BIKE_PER_DAY" serializeAs="String">
        <value>5</value>
      </setting>
    </BoVeloManager.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BoVeloManager.Properties.Settings>
      <setting name="DBHost" serializeAs="String">
        <value>remotemysql.com</value>
      </setting>
      <setting name="DBBase" serializeAs="String">
        <value>5gTtIpnDHk</value>
      </setting>
      <setting name="DBPass" serializeAs="String">
        <value>ebKqX3joO8</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>5gTtIpnDHk</value>
      </setting>
    </BoVeloManager.Properties.Settings>
  </applicationSettings>
</configuration>